:root{
	--main-bg-color-2: #F04619;
}


.advantages{
    background-color: #323940;
	 font-family: 'Montserrat', sans-serif;
	font-weight: 650;
}

.advantages-element{
	padding: 35px 70px;
}

.advantages-element .image{
	width: 125px;
	height: 125px;
    background-color: black;
}

.advantages-element .text{}

.fff{
background-color: #eee8aa;}