body{
    background-color:#eee8aa;
}

.description{
}

button.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
button.button7:hover { background: rgb(53, 167, 110); }
button.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.dbl-border {
list-style: none;
margin: 0;
}
.dbl-border li {
margin: 5px 0;
position: relative;
}
.dbl-border span {
width: 100%;
color: #808285;
text-decoration: none;
display: block;
padding-left: 14px;
height: 20px;
line-height: 19px;
font-size: 14px;
position: relative;
transition: 0.3s linear;
}
.dbl-border span:before {
content: "";
width: 6px;
height: 40%;
background: #EFDD89;
position: absolute;
top: 30%;
left: -12px;
}
.dbl-border span:hover {background: #D4D8D9;}
